.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.cardContent {
  display: inline-block;
  margin: 5px;
  justify-content: center;
  border: black solid 2px;
  max-width: 100px;
  max-height: 200px;
}